/* 主體 */
.lt-pwd .container {
  padding: 15px 15px 0;
}
.lt-pwd .container > div:nth-child(4) input {
  width: 60%;
}
.lt-pwd .container > div:nth-child(4) a {
  width: 35%;
  color: #fff;
}
.lt-pwd .container button {
  margin-top: 20px;
  width: 100%;
}
